.product-page{
  display:flex;
  gap:40px;
  align-items:flex-start;
}

.product-left img{
  width:320px;
  height: 300px;
}

.product-right{
  max-width:500px;
  
}

.product-right h1{
  color: #49557e;
}

.product-points{
  margin:30px 0;
}

.catalogue-btn{
  display:inline-block;
  padding:12px 22px;
  background:#5372A7;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
}

.badges{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:30px 0;

}

.badge{
  background:#f1f3f5;
  padding:8px 12px;
  border-radius:6px;
  font-size:13px;
}